*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
}

.header-container .container:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu {
  display: flex;
  gap: 40px;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo .dark-accent {
  color: #2e2f42;
}

.accent {
  color: #f4f4fd;
}

.header-choose {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-choose:hover,
.header-choose:focus {
  color: #404bbf;
}

.main {
  background: #2e2f42;
  padding: 188px 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  border: none;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-studio {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-list-element {
  width: calc((100% - 72px) / 4);
}

.studio-list-item {
  margin-bottom: 8px;
}

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team {
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  gap: 24px;
}

.visually-hidden,
.team,
.portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  color: #2e2f42;
  text-transform: capitalize;
}

.team-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.worker {
  padding: 32px 0;
}

.team-list {
  text-align: center;
  margin-bottom: 8px;
}

.team-paragraph {
  text-align: center;
}

.studio-list-item,
.portfolio-list,
.team-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio-paragraph,
.team-paragraph,
.portfolio-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
}

.add {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.add .portfolio-list {
  margin-bottom: 8px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
